@font-face {
  font-family: "Amazon Amber";
  src: URL("./fonts/AmazonEmber_Rg.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Amazon Amber'", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eaeded;
}
